// Yarn colours
//Ramble
$ram-colour:(
colour1:#f0efeb,
colour2:#dddacd,
colour3:#cbc9c7,
colour4:#a5a2a5,
colour5:#6b6d6e,
colour6:#524a44,
colour7:#aba093,
colour8:#89796d,
colour9:#3d3f41,
colour10:#813a48,
colour11:#b2293d,
colour12:#cd6a2f,
colour13:#f1e4a9,
colour14:#dda339,
colour15:#808541,
colour16:#42615b,
colour17:#5a624c,
colour18:#698893,
colour19:#c9d6db,
colour20:#b6bdce,
colour21:#8dbbd4,
colour22:#516890,
colour23:#435470,
colour24:#216386,
colour25:#2e4562,
colour26:#dbb5b3,
colour27:#d56c7a,
colour28:#9f4e75,
colour29:#988691,
colour30:#733c5c
);
@for $i from 1 through 30{
#ram-colour#{$i}{
background-color: map-get($ram-colour, 'colour'+$i);
}
}
//Plume
$plu-colour:(
colour1:#f1f0ec,
colour2:#f2eade,
colour3:#d8dadc,
colour4:#d8cec5,
colour5:#9f9d99,
colour6:#6b6c70,
colour7:#3b3d41,
colour8:#edd6db,
colour9:#cfc4c1,
colour10:#c5adb0,
colour11:#b8bccc,
colour12:#9d9dab,
colour13:#988691,
colour14:#cd6a32,
colour15:#b7305b,
colour16:#b92745,
colour17:#813a48,
colour18:#6f405a,
colour19:#5c4470,
colour20:#38478e,
colour21:#3e4164,
colour22:#5f6b7a,
colour23:#a4bdcf,
colour24:#678895,
colour25:#606c79,
colour26:#bc9268
);
@for $i from 1 through 26{
#plu-colour#{$i}{
background-color: map-get($plu-colour, 'colour'+$i);
}
}
//Woodland
$wood-colour:(
colour1:#c4beb7,
colour2:#989ba3,
colour3:#696e6c,
colour4:#3c3e40,
colour5:#ba8f5c,
colour6:#ab9f95,
colour7:#e7d7c7,
colour8:#58443c,
colour9:#9e3937,
colour10:#8d1b24,
colour11:#a04214,
colour12:#e69b22,
colour13:#5b5a2c,
colour14:#3e4d30,
colour15:#3e4d30,
colour16:#476d78,
colour17:#bcccd4,
colour18:#45698a,
colour19:#33558a,
colour20:#525779,
colour21:#2c3d60,
colour22:#eacfc7,
colour23:#a3909f,
colour24:#6e2756,
colour25:#a0345c
);
@for $i from 1 through 25{
#wood-colour#{$i}{
background-color: map-get($wood-colour, 'colour'+$i);
}
}

//Woodland
$nest-colour:(
colour1:#f0efeb,
colour2:#f0ebe0,
colour3:#d1d5cd,
colour4:#bbbdc1,
colour5:#96979b,
colour6:#dacdbc,
colour7:#ad9d90,
colour8:#8a766b,
colour9:#fcbe4c,
colour10:#fddb90,
colour11:#cad8b4,
colour12:#a1c780,
colour13:#3e635b,
colour14:#8daaa5,
colour15:#c8d6dd,
colour16:#a4c8df,
colour17:#58738b,
colour18:#304466,
colour19:#f5d9cc,
colour20:#dcb5af,
colour21:#eaaccb,
colour22:#d46b77,
colour23:#be4380,
colour24:#b5273d,
colour25:#d7cad3,
colour26:#c3a9b6,
colour27:#78617a,
colour28:#7d3f52
);
@for $i from 1 through 28{
#nest-colour#{$i}{
background-color: map-get($nest-colour, 'colour'+$i);
}
}